:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --lightest-grey: #f8f8f8;
  --light-grey: #e5e5e5;
  --grey: #777777;
  --dark-grey: #3f3f3f;
  --dark-grey-trans: #2a2a2aa3;
  --transparent-grey: #ffffffc7;
  --dark-blue: #536FA6;
  --light-blue: #7EB9BF;
  --dark-green: #77BF63;
  --light-green: #8ED979;

  /* --hero-width: 40vw; */
}

.top-hero {
  background-image: url(corrugated.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
}

.name p {
  font-size: 8rem;
  padding: 0;
  color: var(--light-grey);
  text-shadow: -2px -2px 0 var(--dark-grey), 2px -2px 0 var(--dark-grey), -2px 2px 0 var(--dark-grey), 2px 2px 0 var(--dark-grey);
  font-weight: bold;
}

.credit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  color: #ffffff;
  font-size: 11px;
  margin-bottom: 1px;
}

.photo-credit a,
.photo-credit {
  color: white;
  background-color: var(--dark-grey);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
}

button {
  /* color: var(--dark-grey); */
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  background: linear-gradient(to right, var(--light-green), var(--dark-green));
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--light-blue);
  background: linear-gradient(to right, var(--light-green), var(--light-blue));
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.copyButton {
  padding: 5px;
  font-size: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-grey);
    background-color: white;
  }

  .name p {
  color: var(--lightest-grey);
}

  a {
    color: var(--dark-blue)
  }

  a:hover {
    color: var(--light-blue);
  }

  button {
    background-color: #f9f9f9;
  }
}

/* TABLE  */

table {
  margin: auto;
  border-collapse: separate;
  /* border-spacing: 1px; */
  border-radius: 10px;
  background-color: var(--light-grey);
  overflow: hidden;
}


thead tr {
  background: linear-gradient(to right, var(--light-green), var(--dark-green), var(--light-blue));
}

th {
  border-bottom: 3px solid var(--dark-grey);
  padding: 10px;
}

td {
  border: none;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

tr {
  border-bottom: 2px solid var(--light-blue);
}

tr:nth-child(odd) {
  background-color: var(--light-grey);
}

tr:nth-child(even) {
  background-color: white;
}

td>input {
  width: 250px;
  height: 1.5rem;
  font-size: 1rem;
}

td>img {
  margin: auto;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}